<h1>Crear producto</h1>
<form>
	<div class="alert alert-danger alert-dismissible" *ngIf="error">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>Error</strong> No Se encuentra autorizado para realizar esta accion
	</div>
	<div class="form-group">
		<label for="nombreProducto">nombre</label>
		<input [(ngModel)]="producto.nombreProducto" type="text" name="nombreProducto" class="form-control">
	</div>
	<div class="form-group">
		<label for="descripcion">descripcion</label>
		<textarea [(ngModel)]="producto.descripcion" type="text" name="descripcion" class="form-control"></textarea>
    </div>
    <div class="form-group">
		<label for="precioMinimo">precio</label>
		<textarea [(ngModel)]="producto.precioMinimo" type="text" name="precioMinimo" class="form-control"></textarea>
      </div>
    <div class="form-group">
		<label for="fabricante">fabricante</label>
		<textarea [(ngModel)]="producto.fabricante" type="text" name="fabricante" class="form-control"></textarea>
  	</div>
  	<div class="form-group">
  		<img [src]="imagenProducto" height="200"> <br/>
		<input id="img" type='file' (submit)="onSelectFile($event)" (change)="onSelectFile($event)">
	</div>
	<button class="btn btn-success" (click)="crearProducto()">Crear producto</button>
</form>